.Counter {
  background-color: antiquewhite;
  padding: 20px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.Count-number {
  color: black;
}

.Button-decrement,
.Button-increment {
  width: 40px;
}
